<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="jquery-3.4.1.min.js"></script>
</head>
<body>
  <label for="descriptorSelector">I am a(n)</label>
  <select id="descriptorSelector">
    <option selected disabled>"Adjective"</option>
  <% descriptorArray.forEach( descriptor => { %>
    <option value=<%= descriptor.descriptor_name %>><%= descriptor.descriptor_name %></option>
<% }) %>
  </select>

  <label for="typeSelector">,</label>
  <select id="typeSelector">
    <option selected disabled>"Noun"</option>
  <% typeArray.forEach( type => { %>
    <option value=<%= type.type_name %>><%= type.type_name %></option>
<% }) %>
  </select>

  <label for="focusSelector">that</label>
  <select id="focusSelector">
    <option selected disabled>"Verbs"</option>
  <% focusArray.forEach( focus => { %>
    <option value=<%= focus.focus_name %>><%= focus.focus_name %></option>
<% }) %>
  </select>

</body>
</html>

